[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
mysqlclient = "*"
mysql-connector-python = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
razorpay = "*"

[dev-packages]

[requires]
python_version = "3.9"
