{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Home | Mojeflix</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="#">
<link rel="icon" href="{% static 'Images/mojeflix.png' %}" type="image/png">
<link rel="stylesheet" href="{% static 'Homepage/style.css' %}">
<body>
    <header class="header">
        <nav>
            <ul>
                <li>
                    <a href="{% url 'login' %}">
                         <button class="login-btn">LogIn</button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-content">
            <h4>30 Days Free Trial</h4>
            <div class="logo">MOJEFLIX</div>
            <div class="header-text-1">
                Watch Tons of Movies and Sports 
            </div>
            <div class="header-text-2">
                Disney+™,ESPNplus™,SonyLIV® Available as add-ons.
            </div>
            <a href="{% url 'login' %}">
                <button class="btn btn-cta">
                    Start Free Trial
                </button>
            </a>
            <div class="legal-text">
                Free trial for new & eligible returning subscribers only.
            </div>
        </div>
    </header>

    <section class="sub-header">
        <div class="logos">MOJEFLIX</div>
        <div>
            <h4>Bundle with Mojeflix</h4>
            <h3>Get Mojeflix with Disney+,ESPN+,Sonyliv.</h3>
            <a href="#" class="sub-link">Details</a>
        </div>
        <div>
            <a href="#" class="btn btn-outline">Get Bundle</a>
            <a href="#" class="sub-link">Conditions Apply</a>
        </div>
    </section>

    <section class="categories">
      <h4>Included in all plans</h4>
      <div class="text-xl">All The TV You Love</div>
      <div class="sub-text">
        Stream full seasons of exclusive series, current-season episodes, hit
        movies, Mojeflix Originals, kids shows, and more.
      </div>

      <div class="covers">
        <div class="cover-1">
          <div class="cover-grad"></div>
          <div class="cover-text">
            <div class="sub-title">Past & Current Seasons</div>
            <h3>TV Shows</h3>
          </div>
        </div>
        <div class="cover-2">
          <div class="cover-grad"></div>
          <div class="cover-text">
            <div class="sub-title">New & Classics</div>
            <h3>Movies</h3>
          </div>
        </div>
        <div class="cover-3">
          <div class="cover-grad"></div>
          <div class="cover-text">
            <div class="sub-title">Groundbreaking</div>
            <h3>Mojeflix Originals</h3>
          </div>
        </div>
        <div class="cover-4">
          <div class="cover-grad"></div>
          <div class="cover-text">
            <div class="sub-title">Add-On</div>
            <h3>Premiums</h3>
          </div>
        </div>
      </div>
    </section>
     <section class="live">
      <div class="live-border">
        <h4>MOJEFLIX + Live TV</h4>
        <div class="text-xl">Live TV Makes It Better</div>
        <div class="sub-text">
          Make the switch from cable. Get 75+ top channels with your favorite
          live sports, news, and events - plus the entire Mojeflix streaming
          library.
        </div>
        <div class="legal-text">
          Live TV plan required. Regional restrictions, blackouts and additional
          terms apply. See details
        </div>
        <a href="#">View Channels in Your Area</a>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-lists">
          <ul>
            <li class="list-head">BROWSE</li>
            <li><a href="#">Streaming Library</a></li>
            <li><a href="#">Live TV</a></li>
            <li><a href="#">Live News</a></li>
            <li><a href="#">Live Sports</a></li>
          </ul>
          <ul>
            <li><a href="#">TV Shows</a></li>
            <li><a href="#">Movies</a></li>
            <li><a href="#">Originals</a></li>
            <li><a href="#">Networks</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">FX on Mojeflix</a></li>
          </ul>
          <ul>
            <li><a href="#">Mojeflix, Disney+, and ESPN+</a></li>
            <li><a href="#">Disney Bundle</a></li>
            <li><a href="#">HBO Max</a></li>
            <li><a href="#">Cinimax</a></li>
            <li><a href="#">Showtime</a></li>
            <li><a href="#">STARZ</a></li>
          </ul>
          <ul>
            <li class="list-head">HELP</li>
            <li><a href="#">Account & Billing</a></li>
            <li><a href="#">Plans & Pricing</a></li>
            <li><a href="#">Supported Devices</a></li>
            <li><a href="#">Accesibility</a></li>
          </ul>
          <ul>
            <li class="list-head">ABOUT US</li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="divider"></div>

        <div class="social-icons">
          <a href="#"><img src="{% static 'Images/facebook.svg' %}" alt="" /></a>
          <a href="#"><img src="{% static 'Images/twitter.svg' %}" alt="" /></a>
          <a href="#"><img src="{% static 'Images/youtube.svg' %}" alt="" /></a>
          <a href="#"><img src="{% static 'Images/instagram.svg' %}" alt="" /></a>
        </div>
      </div>
    </footer>
</body>
</html  
