{% block content %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .center {
            position: absolute;
            text-align: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
    <div class="center">
        <h3>
            Your Payment is SucessFull and Your Plan has been Upgraded! <i class="fas fa-check-circle"></i>
        </h3>
        <h5>
            <a href={% url 'profile' %}>
                Watch Movies
            </a>
        </h5>
    </div> 
</body>

{% endblock content %}